<div class="container" style="margin: 5% auto;">
  <div class="row">
    <div class="col-md-8" style="display: flex;">
      <div class="menu">
        <div class="set" style="background-color: #fff;"></div>
        <p>Available</p>
      </div>
      <div class="menu">
        <div class="set" style="background-color: #e6e993;"></div>
        <p>Booked</p>
      </div>
      <div class="menu">
        <div class="set" style="background-color: #e8505b;"></div>
        <p>Checked In</p>
      </div>
      <div class="menu">
        <div class="set" style="background-color: green;"></div>
        <p>Free</p>
      </div>
      <div class="menu">
        <div class="set" style="background-color: blue;"></div>
        <p>Free Debit</p>
      </div>
      <div class="menu">
        <div class="set" style="background-color: orange;"></div>
        <p>Uncleaned</p>
      </div>
      <div class="menu">
        <div class="set" style="background-color: pink;"></div>
        <p>To Be Repaired</p>
      </div>
      <div class="menu">
        <div class="set" style="background-color: lightblue;"></div>
        <p>Other</p>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="header">
      <i class="fas fa-calendar-week">Advanced Calendra</i>
      <a class="float-right add" (click)="IncrementMonth()"><i class="fas fa-arrow-circle-right"></i></a>
      <p class="float-right add">{{month}}</p>
      <a class="float-right add" (click)="DecrementMonth()"><i class="fas fa-arrow-circle-left"></i></a>
    </div>
    <div class="col-md-12">
      <div class="table-responsive">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>#</th>
              <th *ngFor="let d of dayArr" scope="col">{{d}}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let r of advancedCalendra; let in = index">

              <th>{{r.room}}</th>
              <th *ngFor="let a of r.status; let i = index" [ngStyle]="myStyle(a,i,r.day[i])"
                (click)="GetDetails(i,in)"></th>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<div class="FormOverlay" [ngClass]="show">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="ElementForm shadow p-3 mb-5 bg-white rounded">
          <div class="header title">
            <i class="fas fa-stream"></i>
            <a class="float-right up" (click)="GetDetails()"><i class="fas fa-times"></i></a>
            <div class="Editform">
              <h3>Information</h3>
              <hr>
              <div class="col-md-12">
                <div class="ro">
                  <div class="column">

                    <p>Check In = {{reservation.checkin}}<br />
                      Check Out = {{reservation.checkout}}<br />
                      Room Type: {{reservation.type}}<br />
                      RoomNo:{{reservation.roomno}}<br />
                      Total Amount:-{{reservation.cost}}<br />
                      PaymentMethod:{{reservation.payment}}<br />
                      Amount Due:-{{reservation.due}}</p>
                  </div>
                  <div class="column">
                    <p>
                      Frist Name :- {{customer.fname}}<br />
                      Last name :- {{customer.lname}}<br />
                      Mobile :- {{customer.mobile}}<br />
                      Address :- {{customer.address}}<br />
                      Car Plate :- {{customer.car}}<br />
                      Phone :- {{customer.phone}}<br />
                      <br />
                    </p>
                    <label>Status</label>
                    <select name="status" id="status" [(ngModel)]="reservation.status" (change)="SetStatus()">
                      <option *ngFor="let s of status">{{s}}</option>
                    </select>
                    <button class="btn addbutton" [routerLink]="['/reservations',reservation.bid, 'edit']">Edit</button>
                    <button class="btn cancelbutton" (click)="DeleteReservation()">Delete</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
